*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI";
}

html{scroll-behavior:smooth;}

body{
  background:#0a0a0a;
  color:#fff;
}

/* TOP BAR */
.announcement-bar{
  background:linear-gradient(90deg,#c9a24e,#e6c36a);
  color:#000;
  text-align:center;
  padding:10px;
  font-weight:600;
}

/* NAV */
.nav{
  position:fixed;
  top:40px;
  width:100%;
  background:rgba(0,0,0,0.7);
  text-align:center;
  padding:10px;
  z-index:1000;
}

.nav a{
  color:#d6b25e;
  margin:0 15px;
  text-decoration:none;
}

/* HERO */
.hero{
  height:100vh;
  background:url('https://images.unsplash.com/photo-1607623814075-e51df1bdc82f?auto=format&fit=crop&w=1600&q=80') center/cover;
  display:flex;
  justify-content:center;
  align-items:center;
}

.overlay{
  background:rgba(0,0,0,0.6);
  padding:60px;
  border-radius:20px;
  text-align:center;
}

.hero h1{
  font-size:60px;
  color:#e6c36a;
}

/* SECTIONS */
.section{
  padding:90px 20px;
  text-align:center;
}

.dark{
  background:#111;
}

/* GRID */
.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:20px;
  margin-top:30px;
}

/* CARD */
.card{
  background:#1a1a1a;
  padding:20px;
  border-radius:12px;
  border:1px solid #333;
}

/* BUTTON */
.btn{
  margin-top:10px;
  padding:10px 15px;
  background:#c9a24e;
  border:none;
  cursor:pointer;
  font-weight:bold;
}

/* CART */
.cart{
  position:fixed;
  right:-400px;
  top:0;
  width:350px;
  height:100%;
  background:#111;
  padding:20px;
  transition:0.3s;
  z-index:2000;
}

.overlay-bg{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.6);
  display:none;
  z-index:1999;
}

footer{
  text-align:center;
  padding:20px;
  background:#000;
  color:#777;
  cart-item{
  display:flex;
  justify-content:space-between;
  margin:10px 0;
}

.cart-item button{
  background:red;
  color:white;
  border:none;
  padding:5px;
}

.checkout{
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#111;
  color:white;
  padding:50px;
  z-index:3000;
}
}
